.yamlCard {
  width: 75vw;
  max-width: 1000px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: var(--pf-global--BackgroundColor--100);
  border-radius: 1rem;
  border: 1px solid rgb(175, 175, 175);
}

.cardHeader {
  padding: 1.5rem !important;
  border-bottom: 1px solid rgb(175, 175, 175);
  display: flex;
  justify-content: space-between;
}

.cardBody {
  padding: 0 0 0.75rem 0;
}

.image {
  height: 1.5rem;
}

.button:active {
  color: rgb(175, 175, 175) !important;
  background-color: rgb(225, 225, 225) !important;
}

.button {
  padding: 0.5rem 0.5rem 0 !important;
  border: 1px solid rgb(175, 175, 175);
  color: var(--pf-c-button--m-tertiary--Color) !important;
  background-color: var(--pf-c-button--m-tertiary--BackgroundColor) !important;
}

.text {
  margin-right: 0.5rem;
}
