.card {
  height: auto;
  margin: 0.5rem;
  cursor: pointer;
}

.cardHeader {
  display: block;
}

.cardHeaderSingleSource {
  float: right;
  text-align: right;
}

.cardHeaderMultiSource {
  display: flex;
  justify-content: space-between;
}

.cardImage {
  height: 2.5rem;
}

.cardBody {
  height: 5rem;
  overflow: hidden;
}

.cardFooterTag {
  margin: 0.125rem;
}
