.card {
  height: auto;
  margin: 0.5rem;
  cursor: pointer;
}

.cardHeader {
  display: block;
}

.cardHeaderDisplay {
  display: flex;
  justify-content: space-between;
}

.cardImage {
  width: auto;
  height: auto;
  max-width: 6rem;
  max-height: 3rem;
}

.cardBody {
  height: 5rem;
  overflow: hidden;
}

.cardFooterTag {
  margin: 0.125rem;
}

.text {
  text-align: right;
  color: var(--pf-global--Color--200);
}
