
.project {
	border-radius: 6px;
	padding: 4px auto 4px 6px;
}

.selected{
		background-color: #000000;
		color:#FFFFFF;
		border-radius: 6px;
		padding: 4px auto 4px 6px;
}

.selected:hover {
	background-color: #ADABAE;
	color:#FFFFFF;
}

.project:hover {
	background-color: #ADABAE;
	color:#FFFFFF;
}

