.wave {
  position: relative;
  margin-top: -2rem;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 56px;
}

.wave .shapeFill {
  fill: var(--pf-global--BackgroundColor--dark-100);
}
