.triangle {
  position: relative;
  margin-top: -2rem;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.triangle svg {
  position: relative;
  display: block;
  width: calc(165% + 1.3px);
  height: 56px;
}
