.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--pf-global--BackgroundColor--dark-100);
  padding: 2rem 4rem 3rem;
}

.navList {
  justify-content: center;
}

.titleLink {
  text-decoration: none;
}

.title {
  display: flex;
  align-items: center;
}

.logo {
  height: 3rem;
  margin-right: 0.75rem;
}

.text {
  color: var(--pf-global--Color--light-200);
}

@media (max-width: 768px) {
  .nav {
    display: grid;
  }
}

@media (max-width: 575px) {
  .title {
    padding-bottom: 1rem;
    justify-content: center;
  }
}
