.image {
  height: 1.5rem;
}

.button:active {
  color: rgb(175, 175, 175) !important;
  background-color: rgb(225, 225, 225) !important;
}

.button {
  padding: 0.5rem 0.5rem 0 !important;
  border: 1px solid rgb(175, 175, 175);
  color: var(--pf-c-button--m-tertiary--Color) !important;
  background-color: var(--pf-c-button--m-tertiary--BackgroundColor) !important;
}
